In [2]:
import pandas as pd

In [ ]:

df = pd.read_csv("../input/atus_anual_2020.csv")      #read lee los datos
df.head()                                             #head:La función head() es útil para obtener una vista previa rápida de los datos en un DataFrame

In [12]:
# 1. Cargue en un Dataframe los datos de los accidentes de los últimos 3 años


# Cargar los datos de cada año en DataFrames individuales
df1 = pd.read_csv("../input/atus_anual_2020.csv")
df2 = pd.read_csv("../input/atus_anual_2021.csv")
df3 = pd.read_csv("../input/atus_anual_2022.csv")

# Concatena los DataFrames en uno solo
df_atus = pd.concat([df1, df2, df3])


# Imprime el DataFrame unidos
#print(df_atus)

print(df_atus.shape)
print(df_atus.head())

(1067071, 45)
          COBERTURA  ID_ENTIDAD  ID_MUNICIPIO  ANIO  MES  ID_HORA  ID_MINUTO  \
Municipal         1           1          2020     1    0        0          1
Municipal         1           1          2020     1    0        0          1
Municipal         1           1          2020     1    0       10          1
Municipal         1           1          2020     1    2        0          1
Municipal         1           1          2020     1    2       10          1

              ID_DIA                  DIASEMANA                      URBANA  \
Municipal  Miercoles  Accidente en intersección  Sin accidente en esta zona
Municipal  Miercoles  Accidente en intersección  Sin accidente en esta zona
Municipal  Miercoles  Accidente en intersección  Sin accidente en esta zona
Municipal  Miercoles  Accidente en intersección  Sin accidente en esta zona
Municipal  Miercoles  Accidente en intersección  Sin accidente en esta zona

           ... PEATMUERTO PEATHERIDO  CICLMUERTO  CICLHERIDO  OTROMUERTO  \
Municipal  ...          0          0           0           0           0
Municipal  ...          0          0           0           0           0
Municipal  ...          0          0           0           0           0
Municipal  ...          0          0           0           0           0
Municipal  ...          0          0           0           0           0

           OTROHERIDO  NEMUERTO    NEHERIDO             CLASACC  ESTATUS
Municipal           0         0  Sólo daños  Cifras Definitivas      NaN
Municipal           0         0  Sólo daños  Cifras Definitivas      NaN
Municipal           0         0  Sólo daños  Cifras Definitivas      NaN
Municipal           0         0  Sólo daños  Cifras Definitivas      NaN
Municipal           0         0  Sólo daños  Cifras Definitivas      NaN

[5 rows x 45 columns]

:

In [19]:
# 2. Agregue una columna tipo date que englobe las columnas correspondientes a Año, Mes, Dia, Hora y Minuto.

# Convertir las columnas 'ANIO', 'MES', 'ID_DIA', 'ID_HORA' y 'ID_MINUTO' a tipo texto
df_atus['ANIO'] = df_atus['ANIO'].astype(str)
df_atus['MES'] = df_atus['MES'].astype(str)
df_atus['ID_DIA'] = df_atus['ID_DIA'].astype(str)
df_atus['ID_HORA'] = df_atus['ID_HORA'].astype(str)
df_atus['ID_MINUTO'] = df_atus['ID_MINUTO'].astype(str)

# Crear una nueva columna 'Fecha' combinando las columnas 'ANIO', 'MES', 'ID_DIA', 'ID_HORA' y 'ID_MINUTO'
df_atus['Fecha'] = pd.to_datetime(df_atus['ANIO'] + df_atus['MES'] + df_atus['ID_DIA'] + df_atus['ID_HORA'] + df_atus['ID_MINUTO'], format='%Y%m%d%H%M')

# Imprimir el DataFrame con la nueva columna 'Fecha'
print(df_atus)

ValueError: time data "10Miercoles01" doesn't match format "%Y%m%d%H%M", at position 0. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [4]:
# 3.  Agregue una columna para Área cuyos valores serán Urbana o Suburbana dependiendo del área donde ocurrió el accidente.

df_atus['Área'] = df_atus.apply(lambda row: 'URBANA' if row['URBANA'] == 1 else 'SUBURBANA' if row['SUBURBANA'] == 1 else None, axis=1)

# Imprimir el DataFrame con la nueva columna 'Área'
print(df_atus)

           COBERTURA  ID_ENTIDAD  ID_MUNICIPIO  ANIO  MES  ID_HORA  ID_MINUTO  \
Municipal          1           1          2020     1    0        0          1
Municipal          1           1          2020     1    0        0          1
Municipal          1           1          2020     1    0       10          1
Municipal          1           1          2020     1    2        0          1
Municipal          1           1          2020     1    2       10          1
...              ...         ...           ...   ...  ...      ...        ...
392705     Municipal          32            56  2022   12        7         45
392706     Municipal          32            56  2022   12        8          0
392707     Municipal          32            56  2022   12       17         20
392708     Municipal          32            56  2022   12       14         45
392709     Municipal          32            56  2022   12       22         15

              ID_DIA                  DIASEMANA                      URBANA  \
Municipal  Miercoles  Accidente en intersección  Sin accidente en esta zona
Municipal  Miercoles  Accidente en intersección  Sin accidente en esta zona
Municipal  Miercoles  Accidente en intersección  Sin accidente en esta zona
Municipal  Miercoles  Accidente en intersección  Sin accidente en esta zona
Municipal  Miercoles  Accidente en intersección  Sin accidente en esta zona
...              ...                        ...                         ...
392705            30                    Viernes   Accidente en intersección
392706            30                    Viernes   Accidente en intersección
392707            30                    Viernes   Accidente en intersección
392708            31                     Sabado   Accidente en intersección
392709            31                     Sabado   Accidente en intersección

           ... PEATHERIDO CICLMUERTO  CICLHERIDO  OTROMUERTO  OTROHERIDO  \
Municipal  ...          0          0           0           0           0
Municipal  ...          0          0           0           0           0
Municipal  ...          0          0           0           0           0
Municipal  ...          0          0           0           0           0
Municipal  ...          0          0           0           0           0
...        ...        ...        ...         ...         ...         ...
392705     ...          0          0           0           0           0
392706     ...          0          0           0           0           0
392707     ...          0          0           0           0           0
392708     ...          0          0           0           0           0
392709     ...          0          0           0           0           0

           NEMUERTO    NEHERIDO             CLASACC             ESTATUS  Área
Municipal         0  Sólo daños  Cifras Definitivas                 NaN  None
Municipal         0  Sólo daños  Cifras Definitivas                 NaN  None
Municipal         0  Sólo daños  Cifras Definitivas                 NaN  None
Municipal         0  Sólo daños  Cifras Definitivas                 NaN  None
Municipal         0  Sólo daños  Cifras Definitivas                 NaN  None
...             ...         ...                 ...                 ...   ...
392705            0           0            No fatal  Cifras Definitivas  None
392706            0           0          Sólo daños  Cifras Definitivas  None
392707            0           0          Sólo daños  Cifras Definitivas  None
392708            0           0          Sólo daños  Cifras Definitivas  None
392709            0           0          Sólo daños  Cifras Definitivas  None

[1067071 rows x 46 columns]

In [ ]:
# 4.  Agregue una columna Zona cuyos valores serán la zona donde ocurrió el accidente

In [18]:
# 5.  Elimine las columnas URBANA y SUBURBANA

df_atus.drop(columns=['URBANA', 'SUBURBANA'], inplace=True)

# Imprimir el DataFrame después de eliminar las columnas
print(df_atus)

           COBERTURA  ID_ENTIDAD  ID_MUNICIPIO  ANIO  MES  ID_HORA  ID_MINUTO  \
Municipal          1           1          2020     1    0        0          1
Municipal          1           1          2020     1    0        0          1
Municipal          1           1          2020     1    0       10          1
Municipal          1           1          2020     1    2        0          1
Municipal          1           1          2020     1    2       10          1
...              ...         ...           ...   ...  ...      ...        ...
392705     Municipal          32            56  2022   12        7         45
392706     Municipal          32            56  2022   12        8          0
392707     Municipal          32            56  2022   12       17         20
392708     Municipal          32            56  2022   12       14         45
392709     Municipal          32            56  2022   12       22         15

              ID_DIA                  DIASEMANA  \
Municipal  Miercoles  Accidente en intersección
Municipal  Miercoles  Accidente en intersección
Municipal  Miercoles  Accidente en intersección
Municipal  Miercoles  Accidente en intersección
Municipal  Miercoles  Accidente en intersección
...              ...                        ...
392705            30                    Viernes
392706            30                    Viernes
392707            30                    Viernes
392708            31                     Sabado
392709            31                     Sabado

                                  TIPACCID  ...  PEATHERIDO  CICLMUERTO  \
Municipal                                1  ...           0           0
Municipal                                1  ...           0           0
Municipal                                1  ...           0           0
Municipal                                2  ...           0           0
Municipal                                2  ...           0           0
...                                    ...  ...         ...         ...
392705            Colisión con objeto fijo  ...           0           0
392706     Colisión con vehículo automotor  ...           0           0
392707                           Volcadura  ...           0           0
392708     Colisión con vehículo automotor  ...           0           0
392709            Colisión con motocicleta  ...           0           0

           CICLHERIDO  OTROMUERTO  OTROHERIDO  NEMUERTO    NEHERIDO  \
Municipal           0           0           0         0  Sólo daños
Municipal           0           0           0         0  Sólo daños
Municipal           0           0           0         0  Sólo daños
Municipal           0           0           0         0  Sólo daños
Municipal           0           0           0         0  Sólo daños
...               ...         ...         ...       ...         ...
392705              0           0           0         0           0
392706              0           0           0         0           0
392707              0           0           0         0           0
392708              0           0           0         0           0
392709              0           0           0         0           0

                      CLASACC             ESTATUS  Área
Municipal  Cifras Definitivas                 NaN  None
Municipal  Cifras Definitivas                 NaN  None
Municipal  Cifras Definitivas                 NaN  None
Municipal  Cifras Definitivas                 NaN  None
Municipal  Cifras Definitivas                 NaN  None
...                       ...                 ...   ...
392705               No fatal  Cifras Definitivas  None
392706             Sólo daños  Cifras Definitivas  None
392707             Sólo daños  Cifras Definitivas  None
392708             Sólo daños  Cifras Definitivas  None
392709             Sólo daños  Cifras Definitivas  None

[1067071 rows x 44 columns]

In [ ]:
# 6.   Determine cual municipio de cada estado tuvo más meses sin accidentes